
<div class="section footer wf-section  footer-section">
    <div class="container">
        <div class="footer-box">
            <div class="logo-foot"><img
                    src="https://uploads-ssl.webflow.com/62660e2bb3a088d3731f4a4f/62725b96c02a5c1ec07e7878_white logo banner.svg"
                    loading="lazy" alt="" class="image-3" /></div>
            <div class="horibox right">
                <div class="_300box">
                    <div class="body-bold text-white  white head">Learn more</div>
                    <div class="div-block-4">
                        <div class="w-dyn-list">
                            <div role="list" class="w-dyn-items">
                                <div role="listitem" class="collection-item-6 w-dyn-item"><a
                                        href="#" class="fotter-menu w-inline-block">
                                        <div class="footer-menu">Material</div>
                                    </a></div>
                                <div role="listitem" class="collection-item-6 w-dyn-item"><a
                                        href="#" class="fotter-menu w-inline-block">
                                        <div class="footer-menu">Equipment</div>
                                    </a></div>
                                <div role="listitem" class="collection-item-6 w-dyn-item"><a
                                        href="#" class="fotter-menu w-inline-block">
                                        <div class="footer-menu">Reference</div>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_300box">
                    <div class="body-bold text-white head">Contact us</div><a href="#"
                        class="fotter-menu w-inline-block">
                        <div class="footer-menu">doityourself@do.co</div>
                    </a><a href="#" class="fotter-menu w-inline-block">
                        <div class="footer-menu">+112345678</div>
                    </a>
                </div>
            </div>
        </div>
    </div>