<div class="section no-padding wf-section" >
    <div class="w-dyn-list">
      <div role="list" class="w-dyn-items">
        <div role="listitem" class="collection-item w-dyn-item" (mouseenter)="onHovering($event,1)" (mouseleave)="onUnovering($event,1)" id="item-1"><a
                href="#"[routerLink]="['/single-recipe',1]" class="food-menu w-inline-block">
                <div class="container">
                    <div class="flexbox fit d-flex">
                        <div class="food-image-wraper  ">
                            <div 
                                class="food-image"></div>
                        </div>
                        <div class="saperate _60 fit">
                            <div class="menubox">
                                <div>
                                    <h1 class="w-basic-heading topic-head food">Chorizo &amp; mozzarella gnocchi
                                        bake</h1>
                                    <div class="body menu">Upgrade cheesy tomato pasta with gnocchi, chorizo and
                                        mozzarella for a comforting bake that makes an excellent midweek meal
                                    </div>
                                    <div class="flexbox nutrion-down  nutrion-front d-flex">
                                        <div class="nutrion">
                                            <div class="nutrion-text">318</div>
                                            <div class="nutrion-text">Kcalc</div>
                                        </div>
                                        <div class="nutrion">
                                            <div class="nutrion-text">13g</div>
                                            <div class="nutrion-text end">Fat</div>
                                        </div>
                                        <div class="nutrion">
                                            <div class="nutrion-text">6g</div>
                                            <div class="nutrion-text end">Saturates</div>
                                        </div>
                                        <div class="nutrion">
                                            <div class="nutrion-text">36g</div>
                                            <div class="nutrion-text end">Carbs</div>
                                        </div>
                                    </div>
                                    <div class="flexbox d-flex nutrion-down nutrion-font">
                                        <div class="nutrion">
                                            <div class="nutrion-text">8g</div>
                                            <div class="nutrion-text end">Protein</div>
                                        </div>
                                        <div class="nutrion">
                                            <div class="nutrion-text">4g</div>
                                            <div class="nutrion-text end">Sugars</div>
                                        </div>
                                        <div class="nutrion">
                                            <div class="nutrion-text">13g</div>
                                            <div class="nutrion-text end">Fibre</div>
                                        </div>
                                        <div class="nutrion">
                                            <div class="nutrion-text">1.7g</div>
                                            <div class="nutrion-text end">Salt</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="level-box d-flex">
                                    <div class="body-bold">Level :</div>
                                    <div class="body-bold num">Easy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a></div>
        
           
        </div>
    </div>
  </div>
 