
<app-header></app-header>
<div class="hero-box"  >
    <div class="saperate flex-center">
        <div class="div-block">
            <div class="div-block-2">
                <div class="body">We tired to cook for you, so</div>
                <div class="topic-head">Do it Your Self!</div>
            </div>
        </div>
    </div>
    <div class="saperate flex-left">
        <div class="saperate-box">
            <div class="collection-list-wrapper w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><img
                            src="https://uploads-ssl.webflow.com/6268aee6d169cd2b93255c71/627258cf27f269a522394cce_well-done-4.png"
                            loading="lazy" alt="" class="hero-image" /></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="container">
        <div class="topic-head">Recipe</div>
    </div>


    <app-recipes></app-recipes>
  </div>

  <app-footer></app-footer>


