<app-header></app-header>
<div class="section wf-section">
    <div class="container">
        <h1 class="w-basic-heading topic-head">{{productDetail.name}}</h1><img
            src="https://uploads-ssl.webflow.com/6268aee6d169cd2b93255c71/627254aafcbd8d3025b61796_GNOCCI-4.jpg"
            loading="lazy" alt="" class="recipe-img" />
        <div class="flexbox wide">
            <div class="flexbox nutrion-inside">
                <div class="nutrion _10">
                    <div class="nutrion-text">318</div>
                    <div class="nutrion-text">Kcalc</div>
                </div>
                <div class="nutrion _10">
                    <div class="nutrion-text">13g</div>
                    <div class="nutrion-text">Fat</div>
                </div>
                <div class="nutrion _10">
                    <div class="nutrion-text">6g</div>
                    <div class="nutrion-text">Saturates</div>
                </div>
                <div class="nutrion _10">
                    <div class="nutrion-text">36g</div>
                    <div class="nutrion-text">Carbs</div>
                </div>
                <div class="nutrion _10">
                    <div class="nutrion-text">8g</div>
                    <div class="nutrion-text">Protein</div>
                </div>
                <div class="nutrion _10">
                    <div class="nutrion-text">4g</div>
                    <div class="nutrion-text">Sugar</div>
                </div>
                <div class="nutrion _10">
                    <div class="nutrion-text">13g</div>
                    <div class="nutrion-text">Fibre</div>
                </div>
                <div class="nutrion _10">
                    <div class="nutrion-text">1.7g</div>
                    <div class="nutrion-text">Salt</div>
                </div>
            </div>
        </div>
        <div class="ingredient">
            <div class="topic-head ingredient">Ingredient</div>
            <div class="w-richtext">
                <h4 class="w-basic-heading">1 tbsp olive oil</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">1 onion , finely chopped</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">2 garlic cloves , crushed</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">120g chorizo , diced</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">2 x 400g cans chopped tomatoes</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">1 tsp caster sugar</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">600g fresh gnocchi</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">125g mozzarella ball, cut into chunks</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">small bunch of basil , torn</h4>
                <h4 class="w-basic-heading">‍</h4>
                <h4 class="w-basic-heading">green salad , to serve</h4>
            </div>
        </div>
    </div>
  </div>
  <div class="section red  wf-section">
    <div class="container">
        <h1 class="w-basic-heading topic-head white center">Let&#x27;s Do it!</h1>
    </div>
  </div>
  
  <div class="section  wf-section step-section" >
    <div class="container">
        <div class="w-richtext">
            <h2 class="w-basic-heading"><strong>STEP 1</strong></h2>
            <h4 class="w-basic-heading">Heat the oil in a medium pan over a medium heat. Fry the onion and garlic
                for 8-10 mins until soft. Add the chorizo and fry for 5 mins more. Tip in the tomatoes and sugar,
                and season. Bring to a simmer, then add the gnocchi and cook for 8 mins, stirring often, until soft.
                Heat the grill to high.</h4>
            <p>‍</p>
            <h2 class="w-basic-heading"><strong>STEP 2</strong></h2>
            <h4 class="w-basic-heading">Stir ¾ of the mozzarella and most of the basil through the gnocchi. Divide
                the mixture between six ovenproof ramekins, or put in one baking dish. Top with the remaining
                mozzarella, then grill for 3 mins, or until the cheese is melted and golden. Season, scatter over
                the remaining basil and serve with green salad.</h4>
            <h4 class="w-basic-heading">‍</h4>
        </div>
    </div>
  </div>
  
  
  <div class="section wf-section">
    <div class="container">
        <div class="flexbox center">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="collection-item-3 w-dyn-item"><img
                            src="https://uploads-ssl.webflow.com/6268aee6d169cd2b93255c71/627258bfc8b62f8db029e7e9_well-done-3.png"
                            loading="lazy" alt="" class="image-2" /></div>
                </div>
            </div>
            <h1 class="w-basic-heading topic-head">Well Done!</h1>
        </div>
    </div>
  </div>
  
  <div class="section wf-section">
    <div class="container">
        <h1 class="w-basic-heading topic-head">More Interst things</h1>
    </div>
  </div>
  
  
  
  <app-recipes></app-recipes>
<app-footer></app-footer>